/* ------------- Normalize css ---------- */
html {
  font-family: sans-serif;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;

  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;

  border-bottom: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;

  font-size: 2em;
}

mark {
  color: #000;

  background-color: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;

  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, monospace;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  margin: 0;

  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;

  border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;

  border: 1px solid #c0c0c0;
}

legend {
  display: table;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;

  color: inherit;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;

  opacity: 0.54;
}

::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}

/* ------------- SVG-sprite ------------- */
.icon--arrow-down,
.filters .select__icon::after {
  display: block;
  width: 9px;
  height: 7px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon--arrow-down-dark,
.filters .select select:active + .select__icon::after {
  display: block;
  width: 9px;
  height: 7px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -9px 0;
}

.icon--arrow-left,
.pagination .icon--prev::before {
  display: block;
  width: 9px;
  height: 14px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -18px 0;
}

.icon--arrow-right,
.pagination .icon--next::before {
  display: block;
  width: 9px;
  height: 14px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -27px 0;
}

.icon--basket,
.user__item--basket .user__btn::before {
  display: block;
  width: 21px;
  height: 20px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -36px 0;
}

.icon--basket-active,
.user__item--basket:hover .user__btn::before,
.user__item--basket:focus .user__btn::before,
.user__item--basket.filled .user__btn::before {
  display: block;
  width: 21px;
  height: 20px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -57px 0;
}

.icon--border {
  display: block;
  width: 38px;
  height: 38px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -78px 0;
}

.icon--check,
.filters input[type='checkbox']:checked + label::after {
  display: block;
  width: 12.53px;
  height: 9.463px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -116px 0;
}

.icon--close {
  display: block;
  width: 18px;
  height: 17px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -129px 0;
}

.icon--cow,
.features__item--cow::before {
  display: block;
  width: 48px;
  height: 49px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -147px 0;
}

.icon--eco,
.features__item--eco::before {
  display: block;
  width: 49px;
  height: 49px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -195px 0;
}

.icon--facebook,
.social__item--fb a::before {
  display: block;
  width: 32px;
  height: 32px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -244px 0;
}

.icon--favorite,
.footer-links__item--providers::before {
  display: block;
  width: 15px;
  height: 13px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -276px 0;
}

.icon--ice-cream,
.features__item--ice-cream::before {
  display: block;
  width: 49px;
  height: 49px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -291px 0;
}

.icon--instagram,
.social__item--insta a::before {
  display: block;
  width: 32px;
  height: 32px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -340px 0;
}

.icon--login,
.user__item--login .user__btn::before {
  display: block;
  width: 22px;
  height: 19px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -372px 0;
}

.icon--login-active,
.user__item--login:hover .user__btn::before,
.user__item--login:focus .user__btn::before {
  display: block;
  width: 22px;
  height: 19px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -394px 0;
}

.icon--range-marker {
  display: block;
  width: 24.23px;
  height: 25.115px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -416px 0;
}

.icon--range-marker-hover {
  display: block;
  width: 26.701px;
  height: 27.35px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -441px 0;
}

.icon--remove {
  display: block;
  width: 12px;
  height: 11px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -468px 0;
}

.icon--rub,
.product__price span:first-of-type::after {
  display: block;
  width: 32.233px;
  height: 37.863px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -480px 0;
}

.icon--search,
.user__item--search .user__btn::before {
  display: block;
  width: 17px;
  height: 17px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -513px 0;
}

.icon--search-active,
.user__item--search:hover .user__btn::before,
.user__item--search:focus .user__btn::before {
  display: block;
  width: 17px;
  height: 17px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -530px 0;
}

.icon--thermometer,
.features__item--thermometer::before {
  display: block;
  width: 48px;
  height: 49px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -547px 0;
}

.icon--twitter,
.social__item--tw a::before {
  display: block;
  width: 33px;
  height: 32px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -595px 0;
}

.icon--vkontakte,
.social__item--vk a::before {
  display: block;
  width: 32px;
  height: 32px;

  background-image: url('../icon/sprite.svg');
  background-repeat: no-repeat;
  background-position: -628px 0;
}

/* -------------- Animation ------------ */
.animated {
  animation-duration: 1000ms;

  animation-fill-mode: both;
}

/* --------------------------------------- */
@keyframes bounceInRight {
  from,
  70%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    transform: translate(3000px, -50%);
    opacity: 0;
  }
  70% {
    transform: translate(-70%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%);
  }
}
.bounceInRight {
  animation-name: bounceInRight;
}

/* --------------------------------------- */
@keyframes bounceOutRight {
  from,
  70%,
  to {
    animation-timing-function: ease-in;
  }
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  70% {
    transform: translate(900px, -50%);
    opacity: 0.8;
  }
  to {
    transform: translate(3000px, -50%);
    opacity: 0;
  }
}
.bounceOutRight {
  animation-name: bounceOutRight;
}

/* --------------------------------------- */
@keyframes shake {
  from,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-5px);
  }
}
.shake {
  animation-name: shake;
}

/* ----------- Common styles ------------ */
.page-navigation,
.user {
  margin-top: 21px;
  margin-bottom: 21px;
}

.search__form,
.login__form,
.basket {
  padding: 20px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.search__form input,
.login__form input,
.basket input {
  width: 100%;
}

.search,
.login,
.basket,
.page-navigation .dropdown {
  position: absolute;
  top: 100%;
  z-index: 3;

  display: none;
}

.search,
.login,
.basket {
  right: 0;
}

.login__links a span {
  color: #323232;

  border-color: rgba(50, 50, 50, 0.4); 
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.login__links a span:hover,
.login__links a span:active {
  color: #e84d37;

  border-color: rgba(232, 77, 55, 0.4);
}

.footer-links__item span,
.copyright__link,
.breadcrumbs__link {
  color: #fff;

  border-color: rgba(255, 255, 255, 0.3); 
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.footer-links__item span:hover,
.copyright__link:hover,
.breadcrumbs__link:hover,
.footer-links__item span:active,
.copyright__link:active,
.breadcrumbs__link:active {
  color: #ffbc9e;

  border-color: rgba(255, 188, 158, 0.4);
}

.icon--remove,
.modal__header .icon--close {
  background-color: transparent;
  border: none;
}

.feedback-form input.filled + label,
.feedback-form textarea.filled + label,
.feedback-form input:focus + label,
.feedback-form textarea:focus + label {
  top: -2px;

  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.filters__group-container,
.filters .select select,
.filters .slider-range__body {
  padding: 8px 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.user__item--basket:hover .user__btn::after,
.user__item--basket:focus .user__btn::after,
.user__item--basket.filled .user__btn::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 20px;
  z-index: 1;

  width: 14px;
  height: 10px;

  background-color: #e84d37;
}

.filters__group-title,
.filters .slider-range__title,
.filters .slider-range__value {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.index-row,
.hits,
.banners,
.features {
  margin-bottom: 40px;
}

.index-row::before,
.hits::before,
.banners::before,
.features::before,
.container::before,
.login__controls::before,
.footer-links::before,
.products__list::before,
.hits__list::before,
.modal__header::before,
.features__row::before,
.features__item::before,
.subscribe__form::before,
.filters__row::before,
.index-row::after,
.hits::after,
.banners::after,
.features::after,
.container::after,
.login__controls::after,
.footer-links::after,
.products__list::after,
.hits__list::after,
.modal__header::after,
.features__row::after,
.features__item::after,
.subscribe__form::after,
.filters__row::after {
  content: ' ';

  display: table;
}
.index-row::after,
.hits::after,
.banners::after,
.features::after,
.container::after,
.login__controls::after,
.footer-links::after,
.products__list::after,
.hits__list::after,
.modal__header::after,
.features__row::after,
.features__item::after,
.subscribe__form::after,
.filters__row::after {
  clear: both;
}

.icon__text,
.logo__text,
.user__btn-text,
.search label,
.login__form label,
.social__title,
.footer-links__title,
.copyright__title,
.copyright__logo-text,
.products__title,
.hits__title,
.slider__title,
.banners__title,
.subscribe__title,
.subscribe__form label,
.map__title,
.contacts__title {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0; 

  clip: rect(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
}
html.lock {
  overflow: hidden;
}

body {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #fff;

  background-color: #849d8f;
}

h1 {
  margin: 0 0 25px;

  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
}

h2 {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

h3 {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 35px;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  position: relative;

  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.2%;
}

.icon {
  background-color: transparent;
  border: none;
}
.icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.btn {
  display: inline-block;
  min-width: 100px;
  padding: 0 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 44px;
  vertical-align: top;
  text-align: center;
  color: #fff;
  text-decoration: none;

  background: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border: none;
  border-radius: 24px;
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: #fefefe;

  background: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  outline: none;
  box-shadow: 0 1px 2px #ac1000;
}
.btn:active {
  color: #fceeec;

  background: linear-gradient(to top, #e1613e 0%, #d74531 100%);
  box-shadow: inset 0 2px 2px #942718;
}

input,
textarea {
  padding: 5px 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  background-color: #fff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
}
input:hover,
textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}
input:focus,
textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-weight: 400;
  color: #999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999;
}
input.error,
textarea.error {
  border-color: red;
}

input {
  height: 44px;
}

textarea {
  width: 100%;
  min-height: 155px;

  resize: none;
}

label {
  position: absolute;
  top: 22px;
  left: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999;
}

.form__field {
  position: relative;

  margin-bottom: 20px;
}

.page-header {
  min-height: 74px;
}

.logo {
  float: left;
  margin: 10px 10px 0 0;
}
.logo__link {
  display: block;
  width: auto;
  max-width: 153px;
  height: 64px;
}
.logo__image {
  display: block;
}

.page-navigation {
  float: left;
  width: 48%;
}
.page-navigation__list {
  list-style-type: none;
  font-size: 0;
}
.page-navigation__item {
  display: inline-block;

  vertical-align: top;
}
.page-navigation__item:hover .page-navigation__link,
.page-navigation__item:focus .page-navigation__link {
  color: #333;
  text-decoration: none;

  background-color: #f7f6f3;
}
.page-navigation__item:hover .page-navigation__link::after,
.page-navigation__item:focus .page-navigation__link::after {
  background-color: transparent;
}
.page-navigation__item--active .page-navigation__link {
  color: #fff;
  text-decoration: none;

  background-color: #d07058;
}
.page-navigation__item--active .page-navigation__link::after {
  background-color: transparent;
}
.page-navigation__link {
  position: relative;

  display: block;
  padding: 0 14px;
  padding-top: 7px;
  padding-bottom: 7px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;

  border-radius: 16px;
}
.page-navigation__link::after {
  content: '';
  position: absolute;
  right: 14px;
  bottom: 7px;
  left: 14px;

  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}
.page-navigation__link:active {
  color: #333;
  text-decoration: none;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px dimgrey;
}
.page-navigation__item--dropdown {
  position: relative;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}
.page-navigation__item--dropdown:hover .dropdown {
  display: block;
}
.page-navigation .dropdown {
  left: 0;

  padding-bottom: 8px;

  list-style-type: none;

  background-color: #f8f7f4;
  border-radius: 4px 5px 5px 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.page-navigation .dropdown__item {
  position: relative;

  padding: 0 10px;
}
.page-navigation .dropdown__item:first-of-type {
  margin-bottom: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.page-navigation .dropdown__item:first-of-type .dropdown__link {
  font-weight: 700;
}
.page-navigation .dropdown__item:first-of-type::after {
  content: '';
  position: absolute;
  bottom: 0;

  width: 85%;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.2);
}
.page-navigation .dropdown__item:hover {
  background-color: #fbded7;
}
.page-navigation .dropdown__item:active {
  background-color: #f6b5a5;
}
.page-navigation .dropdown__item--active {
  background-color: #d07058;
}
.page-navigation .dropdown__link {
  display: block;
  padding: 0 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #323232;
  text-decoration: none;
  white-space: nowrap;
}

.user {
  float: right;

  font-size: 0;
}
.user__item {
  position: relative;

  display: inline-block;

  vertical-align: top;
}
.user__item:not(:last-of-type) {
  margin-right: 10px;
}
.user__item:hover .user__btn,
.user__item:focus .user__btn,
.user__item:active .user__btn,
.user__item.filled .user__btn {
  color: #323232;

  background-color: #f8f7f4;
}
.user__item--search .user__btn::before {
  left: 50%;

  transform: translate(-50%, -50%);
}
.user__item--search:hover .user__btn + .search,
.user__item--search:focus .user__btn + .search {
  display: block;
}
.user__item--login .user__btn {
  padding-right: 15px;
  padding-left: 45px;
}
.user__item--login:hover .user__btn + .login,
.user__item--login:focus .user__btn + .login {
  display: block;
}
.user__item--basket .user__btn {
  padding-right: 30px;
  padding-left: 45px;
}
.user__item--basket .user__btn::before {
  z-index: 2;
}
.user__item--basket:hover .user__btn::after,
.user__item--basket:focus .user__btn::after,
.user__item--basket.filled .user__btn::after {
  z-index: 1;
}
.user__item--basket:hover .user__btn + .basket {
  display: block;
}
.user__btn {
  position: relative;

  display: inline-block;
  min-width: 32px;
  height: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 24px;
  cursor: pointer;
}
.user__btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);
}
.user__btn:focus {
  outline: none;
}

.search__form {
  width: 340px;
}

.login__form {
  width: 280px;
}
.login__controls {
  margin-top: 20px;
}
.login__links {
  float: right;

  text-align: left;
}
.login__links a {
  display: block;

  line-height: 1;
  text-decoration: none;
}
.login__links a:not(:last-of-type) {
  margin-bottom: 10px;
}
.login__links a span {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.basket {
  width: 540px;
  padding: 20px;
}
.basket table {
  border-collapse: collapse;
}
.basket__body {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}
.basket__body td {
  padding-bottom: 20px;

  vertical-align: middle;
}
.basket__body td:not(:last-of-type) {
  padding-right: 14px;
}
.basket__body span {
  color: #999;
}
.basket__image {
  width: 47px;

  line-height: 1;
}
.basket__image img {
  border-radius: 50%;
}
.basket__footer {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #333;
}
.basket__footer td {
  line-height: 46px;
  text-align: right;

  border-top: 1px solid #cacac7;
}
.basket__controls {
  text-align: right;
}
.basket__price,
.basket__total-price {
  white-space: nowrap;
}

.icon--remove {
  cursor: pointer;
}

.phone {
  position: absolute;
  top: 100%;
  right: 2.2%;

  font-weight: 700;
  text-align: right;
}
.phone__text {
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 1;
}
.phone__number {
  font-size: 22px;
  line-height: 16px;
}

.page-footer {
  font-size: 0;
  line-height: 1;
}
.page-footer .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 13px;

  width: 97%;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.4);
}

.social {
  display: inline-block;
  width: 37%;

  vertical-align: middle;
}
.social__list {
  list-style-type: none;
  font-size: 0;
  line-height: 1;
}
.social__item {
  display: inline-block;

  font-size: 0;
  line-height: 1;
  vertical-align: top;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}
.social__item:not(:last-of-type) {
  margin-right: 12px;
}
.social__item a {
  position: relative;

  display: inline-block;
  width: 32px;
  height: 32px;
}
.social__item:hover,
.social__item:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
  opacity: 1;
}
.social__item:active {
  border: 3px solid rgba(255, 255, 255, 0.99);
  box-shadow: inset 0 2px 1px #888, 0 0 2px rgba(255, 255, 255, 0.99);
  opacity: 0.7;
}

.footer-links {
  display: inline-block;
  width: 45%;

  vertical-align: middle;
}
.footer-links__col {
  float: left;
}
.footer-links__col:first-of-type {
  margin-right: 32px;
}
.footer-links__item {
  display: block;

  text-decoration: none;
}
.footer-links__item span {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.footer-links__item--providers {
  position: relative;
}
.footer-links__item--providers span {
  font-weight: 700;
}
.footer-links__item--providers::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -21px;
}

.copyright {
  display: inline-block;
  width: 17%;
  margin: 22px 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  color: #fefefe;
}
.copyright__link {
  font-size: 12px;
  text-decoration: none;
}

.breadcrumbs {
  margin: 24px 0 6px;

  list-style-type: none;
  font-size: 0;
}
.breadcrumbs__item {
  position: relative;

  display: inline-block;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
}
.breadcrumbs__item:not(:last-of-type) {
  padding-right: 20px;
}
.breadcrumbs__item:not(:last-of-type)::after {
  content: '>>';
  position: absolute;
  top: 0;
  right: 4px;

  font-size: 10px;
  color: #fff;
}
.breadcrumbs__link {
  text-decoration: none;
}

.products,
.hits {
  margin: -10px;
  margin-bottom: 30px;
}
.products__list,
.hits__list {
  margin-bottom: 73px;
}

.product {
  position: relative;

  float: left;
  width: 25%;
  margin: 0;
  margin-bottom: 16px;
  padding: 10px 10px;

  font-size: 16px;
  vertical-align: top;
  text-align: center;

  cursor: pointer;
}
.product:nth-of-type(4n+5) {
  clear: left;
}
.product__container {
  position: relative;

  margin: 0 auto;
}
.product__content {
  position: relative;
}
.product img {
  margin-bottom: 10px;

  border-radius: 50%;
}
.product p {
  display: inline;
  max-height: 65px;
  overflow: hidden;

  line-height: 22px;
  text-overflow: ellipsis;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.product__price {
  position: absolute;
  bottom: 20px;
  left: 0;

  font-weight: 700;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}
.product__price span:first-of-type {
  position: relative;

  display: inline-block;
  padding-right: 40px;

  font-size: 45px;
}
.product__price span:first-of-type::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2px;

  transform: translateY(-50%);
}
.product__price span:last-of-type {
  font-size: 30px;
}
.product__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -64px;
  left: 0;
  z-index: 1;

  display: none;

  background-color: rgba(248, 247, 244, 0.3);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.product__controls {
  position: absolute;
  bottom: 20px;

  width: 100%;
  padding: 0 10px;

  text-align: center;
}
.product:hover p {
  border-bottom: none;
}
.product:hover .product__overlay {
  display: block;
}

.hit {
  margin-bottom: 0;
}
.hit::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;

  width: 61px;
  height: 61px;

  background: url('../img/products/img/hit.png') no-repeat top left;
  border-radius: 50%;
}

.btn--show {
  padding: 0 14px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  display: none;

  background: rgba(0, 0, 0, 0.3);
}
.modal--active {
  display: block;
}
.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 480px;
  padding: 24px;

  background-color: #f8f7f4;
  border-radius: 9px;
}
.modal__header {
  margin-bottom: 20px;
}
.modal__header h2 {
  float: left;
}
.modal__header .icon--close {
  float: right;

  cursor: pointer;
}

/* -------------- Index ------------- */
.slider {
  height: 572px;
  padding-top: 270px;

  text-align: center;
}
.slider__item {
  display: none;
}
.slider p {
  width: 700px;
  margin: 50px auto 30px;

  font-weight: 700;
  font-size: 60px;
  line-height: 1;
}
.slider .container {
  bottom: 45px;
}
.slider__controls {
  font-size: 0;
  line-height: 1;
  text-align: left;
}
.slider__controls label {
  position: static;

  display: inline-block;
  width: 21px;
  height: 21px;

  vertical-align: top;

  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slider__controls label:not(:last-of-type) {
  margin-right: 8px;
}
.slider__controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}
.slider__point {
  display: none;
}
.slider__point--1:checked ~ .page-wrapper .slider__item:nth-of-type(1),
.slider__point--2:checked ~ .page-wrapper .slider__item:nth-of-type(2),
.slider__point--3:checked ~ .page-wrapper .slider__item:nth-of-type(3) {
  display: block;
}
.slider__point--1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url('../img/slider/img/slide1.png');
}
.slider__point--2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url('../img/slider/img/slide2.png');
}
.slider__point--3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url('../img/slider/img/slide3.png');
}
.slider__point--1:checked ~ .page-wrapper label[for='slider__point--1'],
.slider__point--2:checked ~ .page-wrapper label[for='slider__point--2'],
.slider__point--3:checked ~ .page-wrapper label[for='slider__point--3'] {
  background-color: #fff;
}

.btn--slider {
  padding: 0 40px;

  font-weight: 700;
  font-size: 32px;
  line-height: 63px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 40px;
}

.banner {
  position: relative;

  width: 49%;
  min-height: 230px;
  padding: 20px;

  border-radius: 16px;
}
.banner:first-of-type {
  float: left;

  background: #460f15 url('../img/banners/img/bg-raspberries.jpg') no-repeat top left;
  background-size: cover;
}
.banner:last-of-type {
  float: right;

  background: #3e251c url('../img/banners/img/bg-chocolate.jpg') no-repeat top left;
  background-size: cover;
}
.banner__text {
  margin-bottom: 45px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.banner__controls {
  text-align: right;
}

.features {
  padding: 20px;

  background: #efe3cd url('../img/features/img/bg-pattern.jpg') repeat top left;
  border-radius: 16px;
}
.features__row:not(:last-of-type) {
  margin-bottom: 5px;
}
.features__col {
  width: 49%;

  font-size: 0;
  line-height: 1;
  vertical-align: top;
}
.features__col:first-of-type {
  float: left;
}
.features__col:last-of-type {
  float: right;
}
.features__item {
  position: relative;

  display: inline-block;
  padding-top: 15px;
  padding-left: 59px;

  vertical-align: top;
}
.features__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog {
  float: left;
  width: 49%;
  min-height: 220px;
  padding: 20px;

  background: #fff url('../img/blog/img/bg.jpg') no-repeat top right;
  background-size: cover;
  border-radius: 16px;
}
.blog__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #323232;
  color: #323232;
}
.blog__link {
  display: block;
  width: 285px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.blog__link:hover,
.blog__link:active {
  color: #e84d37;
}

.subscribe {
  float: right;
  width: 49%;
  min-height: 220px;
  padding: 5px;

  background: #efe4cc url('../img/subscribe/img/bg.jpg') no-repeat top left;
  background-size: cover;
  border-radius: 16px;
}
.subscribe__content {
  height: 100%;
  min-height: 210px;
  padding: 30px 24px;

  background-color: #f8f7f4;
  border-radius: 9px;
}
.subscribe__text {
  margin-bottom: 40px;

  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
}
.subscribe__form .form__field {
  display: inline-block;
  width: 60%;
  margin-bottom: 0;
}
.subscribe__form input {
  width: 100%;
}

.btn--subscribe {
  float: right;
}

.map {
  position: relative;

  background-color: #eee;
}
.map__image {
  display: none;
}

.google-map {
  min-height: 430px;

  background: url('../img/map/img/map.png') no-repeat center;
}

.contacts {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
}
.contacts__content {
  position: absolute;
  top: 65px;
  right: 2.2%;
  z-index: 1;

  width: 300px;
  padding: 25px;

  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 16px;
}
.contacts__info:not(:last-of-type) {
  margin-bottom: 14px;
}
.contacts__category,
.contacts__tips {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.contacts__value {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #323232;
}
.contacts__controls {
  margin-top: 26px;

  text-align: right;
}

.btn--feedback-show {
  width: 100%;
}

.feedback-form input:focus + label,
.feedback-form textarea:focus + label {
  color: #5b9ddf;
}
.feedback-form .form__field {
  padding-top: 12px;
}
.feedback-form input {
  width: 270px;
}
.feedback-form__controls {
  margin-top: 20px;

  text-align: right;
}

/* -------------- Catalog ------------- */
.filters {
  margin-bottom: 38px;

  font-size: 0;
}
.filters__row:not(:last-of-type) {
  margin-bottom: 16px;
}
.filters__group {
  display: inline-block;
  margin: 0;

  font-size: 0;
  line-height: 1;
  vertical-align: top;

  border: none;
}
.filters__group:not(:last-of-type) {
  margin-right: 16px;
}
.filters__group-title {
  margin-bottom: 6px;
  padding-left: 16px;
}
.filters__group-item {
  display: inline-block;

  vertical-align: top;
}
.filters__group-item:not(:last-of-type) {
  margin-right: 20px;
}
.filters label {
  position: relative;
  top: 0;
  left: 0;

  color: #fff;
}
.filters label[for^='fillers'] {
  min-width: 88px;
}
.filters input[type='checkbox'],
.filters input[type='radio'] {
  display: none;
}
.filters input[type='checkbox'] + label,
.filters input[type='radio'] + label {
  display: inline-block;
  padding-left: 30px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;

  cursor: pointer;
}
.filters input[type='checkbox'] + label::before,
.filters input[type='radio'] + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 18px;
  height: 18px;

  border: 1px solid #fff;
  border-radius: 4px;
}
.filters input[type='checkbox'][disabled] + label,
.filters input[type='radio'][disabled] + label {
  opacity: 0.4;
}
.filters input[type='checkbox']:not([disabled]) + label:hover::before,
.filters input[type='radio']:not([disabled]) + label:hover::before {
  box-shadow: inset 0 0 1px 1px #fff;
}
.filters input[type='checkbox']:checked + label::after,
.filters input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
}
.filters input[type='checkbox']:checked + label::after {
  top: 5px;
  left: 4px;
}
.filters input[type='radio'] + label::before {
  border-radius: 50%;
}
.filters input[type='radio']:checked + label::after {
  top: 5px;
  left: 5px;

  width: 10px;
  height: 10px;

  background-color: #fff;
  border-radius: 50%;
}
.filters .select {
  position: relative;
}
.filters .select select {
  width: 195px;

  font-size: 16px;
  line-height: 20px;
  color: #fff;

  border: none;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.filters .select select > option {
  line-height: 22px;
}
.filters .select select:focus {
  outline: none;
}
.filters .select select:active {
  color: #323232;

  background-color: #fff;
}
.filters .select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.filters .select select::-ms-expand {
  display: none;
}
.filters .select select option {
  color: #323232;
}
.filters .select select option:hover {
  background-color: #fbded7;
}
.filters .select select option:active,
.filters .select select option:checked {
  background-color: #f6b5a5;
}
.filters .select__icon::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;

  transform: translateY(-50%);
}
.filters .slider-range {
  width: 216px;
}
.filters .slider-range__title {
  margin-bottom: 8px;
}
.filters .slider-range__value {
  max-width: 150px;
  height: 16px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}
.filters .slider-range__body {
  padding-top: 15px;
  padding-bottom: 15px;
}
.filters .slider-range #slider-range {
  border: 2px solid rgba(248, 247, 244, 0.5);
  border-radius: 0;
}
.filters .slider-range #slider-range span {
  top: 0;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.filters .slider-range #slider-range span:hover,
.filters .slider-range #slider-range span:focus {
  width: 22px;
  height: 22px;

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.filters .slider-range #slider-range span:focus {
  outline: none;
}
.filters .slider-range #slider-range span:active {
  background-color: #fff;
  border-color: #fff;
}

.btn--filters-apply {
  width: 150px;
  margin-top: 22px;
  margin-left: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  box-shadow: none;
}
.btn--filters-apply:hover,
.btn--filters-apply:focus {
  color: #323232;

  background: #fff;
  box-shadow: none;
}
.btn--filters-apply:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px dimgrey;
}

.pagination {
  position: relative;

  margin-bottom: 30px;

  line-height: 1;
  text-align: right;
}
.pagination__list {
  display: inline-block;

  list-style-type: none;
  font-size: 0;
  vertical-align: top;
}
.pagination__item {
  display: inline-block;
  width: 26px;
  margin-right: 3px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  vertical-align: top;
  text-align: center;

  border-radius: 50%;
  cursor: pointer;
}
.pagination__item--active {
  color: #323232;

  background-color: #fff;
}
.pagination__item:not(.pagination__item--active):hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination .icon {
  position: relative;

  width: 26px;
  height: 26px;
}
.pagination .icon.disabled {
  opacity: 0.2;
}
.pagination .icon--prev {
  margin-right: 6px;
}
.pagination .icon--next {
  margin-left: 6px;
}
