section.footer-links
  h2.footer-links__title Полезные ссылки
  div.footer-links__col
    a(href='#').footer-links__item.footer-links__item--providers
      span Для поставщиков
    a(href='#').footer-links__item
      span О производстве
  div.footer-links__col
    a(href='#').footer-links__item
      span Наши документы
    a(href='#').footer-links__item
      span Экологические стандарты
