section.copyright
  h2.copyright__title Разработчик сайта
  div.copyright__logo
    img(src='img/copyright/img/htmlAcademy.svg', alt='htmlAcademy', width='108', height='36')
    span.copyright__logo-text HtmlAcademy
  div.copyright__text
    | Cделано в
    = ' '
    a(href='https://htmlacademy.ru').copyright__link
      span HTML Academy
    = ' '
    | &copy; 2016
