div.logo
  if main
    a.logo__link
      img(src='img/logo/img/logo.svg', alt='Logo', width='153', height='63').logo__image
      span.logo__text Глейси
  else
    a(href='index.html').logo__link
      img(src='img/logo/img/logo.svg', alt='Logo', width='153', height='63').logo__image
      span.logo__text Глейси
