
.icon--arrow-down {
  display: block;
  width: 9px;
  height: 7px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.icon--arrow-down-dark {
  display: block;
  width: 9px;
  height: 7px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -9px 0px;
}

.icon--arrow-left {
  display: block;
  width: 9px;
  height: 14px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -18px 0px;
}

.icon--arrow-right {
  display: block;
  width: 9px;
  height: 14px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -27px 0px;
}

.icon--basket {
  display: block;
  width: 21px;
  height: 20px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -36px 0px;
}

.icon--basket-active {
  display: block;
  width: 21px;
  height: 20px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -57px 0px;
}

.icon--border {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -78px 0px;
}

.icon--check {
  display: block;
  width: 12.53px;
  height: 9.463px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -116px 0px;
}

.icon--close {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -129px 0px;
}

.icon--cow {
  display: block;
  width: 48px;
  height: 49px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -147px 0px;
}

.icon--eco {
  display: block;
  width: 49px;
  height: 49px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -195px 0px;
}

.icon--facebook {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -244px 0px;
}

.icon--favorite {
  display: block;
  width: 15px;
  height: 13px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -276px 0px;
}

.icon--ice-cream {
  display: block;
  width: 49px;
  height: 49px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -291px 0px;
}

.icon--instagram {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -340px 0px;
}

.icon--login {
  display: block;
  width: 22px;
  height: 19px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -372px 0px;
}

.icon--login-active {
  display: block;
  width: 22px;
  height: 19px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -394px 0px;
}

.icon--range-marker {
  display: block;
  width: 24.23px;
  height: 25.115px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -416px 0px;
}

.icon--range-marker-hover {
  display: block;
  width: 26.701px;
  height: 27.35px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -441px 0px;
}

.icon--remove {
  display: block;
  width: 12px;
  height: 11px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -468px 0px;
}

.icon--rub {
  display: block;
  width: 32.233px;
  height: 37.863px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -480px 0px;
}

.icon--search {
  display: block;
  width: 17px;
  height: 17px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -513px 0px;
}

.icon--search-active {
  display: block;
  width: 17px;
  height: 17px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -530px 0px;
}

.icon--thermometer {
  display: block;
  width: 48px;
  height: 49px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -547px 0px;
}

.icon--twitter {
  display: block;
  width: 33px;
  height: 32px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -595px 0px;
}

.icon--vkontakte {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url('sprite.svg');
  background-repeat: no-repeat;
  background-position: -628px 0px;
}

