$logo-icon-height:           64px;
$logo-icon-margin-top:       10px;
$page-header-height:         $logo-icon-height + $logo-icon-margin-top;
$page-header-icon-height:    32px;

$font-size-base:             16px;
$padding-base:               20px;
$border-radius-base:         16px;
$btn-height:                 44px;

$basket-padding-right:       14px;
$basket-img-size:            33px;

$container-width-min:        900px;
$container-width-max:        1200px;
$container-padding-vertical: 2.2%;

$screen-sm:                  900px;
$screen-md:                  1200px;

