section.contacts
  h2.contacts__title Наши контакты
  div.container
    div.contacts__content
      div.contacts__info
        p.contacts__category Адрес главного офиса и офлайн магазина:
        p.contacts__value ул. Большая Конюшенная 19/8, Санкт-Петербург

      div.contacts__info
        p.contacts__category Для заказов по телефону:
        p.contacts__value 8 812 450-25-25
        p.contacts__tips (с 10 до 20 ежедневно)

      div.contacts__controls
        a(href='feedback.html', target='_blank').btn.btn--feedback-show Форма обратной связи
